.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.first-part {
    background-color: #1f2937;
}

.first-content {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 128px;
}

.image {
    /* border: 4px solid red; */
    width: 500px;
    height: 200px;
    background-color: white;
    opacity: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 500px;
    /* border: 2px solid red; */
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    padding: 0px;
    margin: 0px;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.first-text > button {
    background-color: #3882f6;    
    color:#f9faf8;
    border: none;
    border-radius: 4px;
    padding: 8px;
}

/*-----second-part-----*/

.second-part {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 64px;
}

.pic {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
}

.picture {
    text-align: center;
    max-width: 150px;
}

/*-----Third-part-----*/

.third-part {
    background-color: rgb(165, 165, 165);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-holder {
    display: flex;
    flex-direction: column;
}

.quoted {
    align-self: flex-end;
    font-weight: bold;
    font-size: medium;
}

.quote {
    width: 500px;
    font-size: large;
}

/*-----Fourth-part-----*/

.fourth-part {
    height: 300px;
    display: flex;
    justify-content: center;
}

.call-holder {
    background-color: #3882f6;
    height: 100px;
    width: 700px;
    padding: 0px;
    margin: 100px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call-text-holder {
    display: flex;
    flex-direction: column;
}

.call-text-content, .call-text-title {
    color: white;
}

.call-text-title {
    font-weight: bold;
    font-size: large;
}

.call-holder > button {
    font-weight: bold;
    font-size: medium;
    background-color: #3882f6;    
    color:#f9faf8;
    border: 2px solid white;
    border-radius: 4px;
    padding: 8px;
}