.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.first-part {
    background-color: #1f2937;
}

.first-content {
    display: flex;
    justify-content: center;
}

.image {
    /* border: 4px solid red; */
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 500px;
    /* border: 2px solid red; */
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}